body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 23px;
  background-color: #0293f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wp-form-login {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-block: auto;
}
input {
  display: block;
}
