body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 23px;
}
#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#header,
#footer {
  background-color: #029ef3;
}
ul#main-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-evenly; */
}
ul#main-memu li {
  display: inline-block;
}
ul#main-menu a {
  display: inline-block;
  padding-block: 15px;
  color: white;
}
#content {
  min-height: 550px;
  background-color: gray;
}
