body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 23px;
}
a {
  text-decoration: none !important;
}
#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#header,
#footer {
  background-color: #029ef3;
}
ul#main-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul#main-memu li {
  display: inline-block !important;
}
ul#main-menu a {
  display: inline-block;
  padding: 15px;
  color: white;
}
#content {
  min-height: 550px;
  background-color: gray;
  padding: 20px 0;
}
#footer {
  padding: 15px 0;
  background-color: #029ef3;
}
